<main class="main">
    <nav class="sidebar" [class]="getSidebarState()">
      <div>Menu Item 1</div>
      <div>Menu Item 2</div>
      <div>Menu Item 3</div>
    </nav>
    <section class="content" [class]="getContentState()">
      <button class="btn btn-primary btn-sm" (click)="toggleSidebar($event)">Open Sidebar</button>
      <button class="btn btn-primary btn-sm" (click)="offCanvas_Open(content)">Launch demo offcanvas</button>
      <router-outlet />
    </section>
</main>

<ng-template #content let-offcanvas>
  <nav>
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">Profile update</h4>
        <button type="button" class="btn tbn-secondary btn-sm" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
      </div>
      <div class="offcanvas-body">
      </div>
  </nav>
</ng-template>
